@config "./tailwind.config.js";
@import "tailwindcss";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 1000px var(--input-autofill) inset !important;
	-webkit-text-fill-color: var(--foreground) !important;
	caret-color: var(--foreground);
	transition: background-color 9999s ease-out 0s;
}
::-moz-selection {
	color: var(--primary-foreground);
	background: transparent;
	text-decoration: underline wavy;
	text-decoration-color: var(--primary-light);
}

::selection {
	color: var(--primary-foreground);
	background: transparent;
	text-decoration: underline wavy;
	text-decoration-color: var(--primary-light);
}

html {
	color-scheme: dark;
	box-sizing: border-box;
	overflow-x: hidden;
	background-color: var(--color-background);
}

body {
	background-color: var(--color-background);
}

* {
	scrollbar-color: var(--input) transparent;
}

*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: var(--input);
	border-radius: 9999px;
	border: 2px solid transparent;
	background-clip: padding-box;
}

:root {
	--background: oklch(0.18 0 0);
	--foreground: #eff2f7;
	--card: oklch(23.075% 0.00003 271.152);
	--card-foreground: #eff2f7;
	--popover: oklch(0.269 0 0);
	--popover-foreground: #eff2f7;
	--primary: oklch(0.5454 0.2621 283.5069);
	--primary-foreground: #eff2f7;
	--primary-light: oklch(0.79 0.1 294.34);
	--secondary: oklch(0.1909 0.0732 288.0282);
	--secondary-foreground: #eff2f7;
	--badge-offline: #311b18;
	--badge-offline-foreground: #ff766a;
	--button: #3b3d41;
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(20.463% 0.00002 271.152);
	--accent-foreground: #eff2f7;
	--positive: #38e23e;
	--positive-faded: #1a251d;
	--destructive: oklch(0.5869 0.1753 26.8393);
	--destructive-foreground: #eff2f7;
	--border: oklch(0.275 0 0);
	--input: oklch(0.325 0 0);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.81 0.1 252);
	--chart-2: oklch(0.62 0.19 260);
	--chart-3: oklch(0.55 0.22 263);
	--chart-4: oklch(0.49 0.22 264);
	--chart-5: oklch(0.42 0.18 266);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: #eff2f7;
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: #eff2f7;
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: #eff2f7;
	--sidebar-border: oklch(0.275 0 0);
	--sidebar-ring: oklch(0.439 0 0);
	--font-sans: Duru Sans, Geist, ui-sans-serif, sans-serif, system-ui;
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: Geist Mono, ui-monospace, monospace;
	--radius: 0.8rem;
	--shadow-x: 0;
	--shadow-y: 1px;
	--shadow-blur: 3px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: oklch(0 0 0);
	--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
	--input-autofill: oklch(0.22 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary-light: var(--primary-light);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-badge-offline: var(--badge-offline);
	--color-badge-offline-foreground: var(--badge-offline-foreground);
	--color-button: var(--button);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-positive: var(--positive);
	--color-positive-faded: var(--positive-faded);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}
